@import "common/foundation/variables";

.btn-social.google,
.btn-social.google_oauth2 {
  display: flex;
  align-items: center;
  justify-content: center;
    
  &:hover {
    background: $primary-medium;
    color: $secondary;
  }
    
  &:before {
    display: inline-block;
    background: url($btn_google_light_normal) no-repeat;
    background-size: 1.32em;
    width: 1.32em;
    height: 1.32em;
    content: "";
  }
}
